/*banner section design*/
.header{
   background-color: hsl(343, 58%, 95%);
   background-position: bottom right top left ;
   background-size:auto;
    flex-shrink: 0;
    border-radius:0px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}
.banner-description{
    color: rgb(141, 141, 141);
     font-family: Lato;
     font-style: normal;
     font-weight: 400;
}
.banner .first-pic{
    width: 500px;
}
.banner-content{
    max-width: 500px;
}
.btn-primary{
    border-radius: 12px;
    background-color: hsl(347, 74%, 61%);
    border:0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/*section Design*/

.section-title{
    font-family: 'Open Sans', sans-serif;
    color: #181818;
    /*font-family: Lato;*/
    text-align: center;
    font-size: 35px;
    font-style: normal;
     font-weight: 700;
     margin-top: 115px;
     margin-bottom: 0px;
}
.section-description{
    color: rgb(141, 141, 141);
    font-family: Lato;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}
.section-info-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.info-title{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;

}
.section-img-1{
background-color: rgb(238, 231, 238);
border-radius: 800px 800px 0px 0px;
width: 310px;
height: 428px;
padding: 100px 60px 0px 60px;
}
.section-img-2{
background-color: rgb(224, 235, 235);
width: 310px;
height: 428px;
border-radius: 800px 800px 0px 0px;
padding: 100px 60px 0px 60px;
}
.section-img-3{
 background-color: rgb(240, 235, 235);
width: 310px;
height: 428px;
border-radius: 800px 800px 0px 0px;
padding: 100px 60px 0px 60px;
}

/*second section Design*/
.second-featured{
 width:800px;
 /*margin:auto;*/
 display: flex;
 padding: 130px;  
 border-radius: 10px;
 margin:130px 0;
}
.second-section-info-container{
    background: rgb(248, 246, 246);
    background-size: 500px 400px;
    padding: 25px;
    margin: 130px 80px 80px 80px;
    border: 2px solid rgb(248, 246, 246);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.second-section-info{
    margin-top: 80px;
    text-align: center;

}
.second-info-title{
    color: rgb(61, 50, 50);
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}
