/*banner design*/
.header{
    background-color: hsl(343, 58%, 95%);

}
.banner{
    padding: 30px 30px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
   font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0px;
}
.banner-description{
    color: rgb(141, 141, 141);
}
.banner .first-pic{
    width: 500px;
}
.btn-primary{
    border-radius: 12px;
    background-color: hsl(347, 74%, 61%);
    border:0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
